.main-grid {
  display: grid;
  box-sizing: border-box;
  margin: 100px 40px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: start;
  column-gap: 20px;
  row-gap: 50px;
}
.one-container {
  margin: 10px 0px;
  height: 550px;
  position: relative;
}
.faculty-image {
  border-radius: 40px;
  overflow: hidden;
}
.faculty-name {
  font-size: 24px;
  font-weight: 700;
  color: rgb(0, 59, 0);
}
.faculty-full-name {
  font-size: 18px;
  font-weight: 500;
  color: rgb(24, 44, 24);
  margin: 5px 0px;
}
.fitr-image {
  width: 100%;
  height: 400px;
}
.go-to-link-button {
  width: 150px;
  height: 35px;
  margin-top: 12px;
  border: none;
  border-radius: 14px;
  background-color: rgb(0, 100, 0);
  color: white;
  cursor: pointer;
}
.main-grid-button {
  position: absolute;
  bottom: 0;
}
.go-to-link-button:hover {
  box-shadow: 10px 10px 10px 2px rgba(34, 60, 80, 0.2) inset;
  background-color: rgb(10, 87, 10);
}
